
@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "DIN-Next-Rounded-W01-Light";
  src: url("https://db.onlinewebfonts.com/t/643121b5d2cc9943eff9b59054cc29ba.eot");
  src: url("https://db.onlinewebfonts.com/t/643121b5d2cc9943eff9b59054cc29ba.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/643121b5d2cc9943eff9b59054cc29ba.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/643121b5d2cc9943eff9b59054cc29ba.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/643121b5d2cc9943eff9b59054cc29ba.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/643121b5d2cc9943eff9b59054cc29ba.svg#DIN Next Rounded LT W01 Light")format("svg");
}
@font-face {
  font-family: "DIN-Next-Rounded-W01-Regular";
  src: url("https://db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.eot");
  src: url("https://db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.svg#DIN Next Rounded LT W01 Regular")format("svg");
}
@font-face {
  font-family: "DIN-Next-W01-Regular";
  src: url("/fonts/DIN-Next-W01-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}


@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-w01: DIN-Next-W01-Regular, sans-serif;
  --font-w01-rounded-light: DIN-Next-Rounded-W01-Light, sans-serif;
  --font-w01-rounded-regular: DIN-Next-Rounded-W01-Regular, sans-serif;
  --font-raleway: Raleway, sans-serif;
  --font-montserrat: Montserrat, sans-serif;

  /* color */
  --color-primary: #F90606;
  --color-secondary: #444444;
  --color-white: #FFFFFF;
  --color-black: #0E0E0E;
  --color-success: #2E7D31;
  --color-error: #E53835;
  --color-warning: #FBC02D;
}

@layer base {
  p{
    @apply font-raleway
  }

  a{
    @apply font-raleway
  }

  h1 {
    @apply font-w01 text-3xl lg:text-6xl;
  }
  h2 {
    @apply font-w01-rounded-regular text-2xl lg:text-4xl;
  }
  h3 {
    @apply font-w01-rounded-regular text-[22px] lg:text-3xl;
  }
  h4 {
    @apply font-w01-rounded-light text-xl lg:text-2xl;
  }

  .container{
    @apply w-full md:w-2xl lg:w-6xl py-20;
  }

  .section{
    @apply w-full px-5 md:p-10 flex flex-col justify-center items-center;
  }

  .btn{
    @apply font-raleway border border-primary hover:bg-primary  hover:text-white px-4 pr-2 py-3 md:px-8 md:py-4 md:pr-8 ;
  }
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--color-black);
  font-family: Raleway, Arial, Helvetica, sans-serif;
  @apply font-raleway;
}
